body {
  font-family: Arial, sans-serif;
  background: #f8f8f8;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 900px;
  margin: auto;
  background: white;
  padding: 15px;
  border-radius: 10px;
}

form label {
  display: block;
  margin-top: 10px;
}

input, select {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}

button {
  margin-top: 15px;
  padding: 10px;
  background: #28a745;
  color: white;
  border: none;
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
}

.resultados {
  margin-top: 30px;
}
